.vaccineDetails-apresentation {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 0;
  gap: 4rem;
  margin-top: 15rem;
}

.vaccineDetailsHeader {
  margin-top: 2rem;
  width: 80%;
  height: auto;
  gap: 2rem;
  padding: 0 2rem;
}

.vaccineDetails-image {
  width: 6rem;
}
