/*Definição do escopo inicial*/
.apresentationContainer {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 17rem;
}

/*Corpo*/
.apresentationContainer {
  padding: 0 3rem;
}

.filter-container {
  align-self: flex-start;
  gap: 0.5rem;
}

.filterVaccines {
  color: var(--green-dark);
}

.filterSelect {
  border: 2px solid var(--green-aqua-color);
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: var(--small-font-size);
  color: var(--green-aqua-color);
  cursor: pointer;
  outline: none;
}

/* Lista de vaccinas*/
.listVaccines {
  width: 80%;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.navigation-buttons {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.prev-button,
.next-button {
  gap: 0.3rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.prev-button:hover:not([disabled]),
.next-button:hover:not([disabled]) {
  color: var(--orange-color);
  font-weight: bold;
}

.prev-button[disabled],
.next-button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .apresentationContainer {
    margin-top: 8rem;
    padding: 0 2rem;
  }

  .listVaccines {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 370px) {
}
